html {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: left;
	justify-items: left;
	align-items: left;
	height: 100%;
	background: #282a36;
	cursor: crosshair;
}

pre {
	margin: 0;
	width: max-content;
	font-family: monospace;
	font-size: 8px;
	background-image: linear-gradient(to right, #50fa7b, #8be9fd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-weight: 500;
	
}

ol, a {
	display: flex;
	flex-direction: column;
	cursor: text;
	margin: 0;
	width: max-content;
	font-family: monospace;
	text-decoration: none;
	font-size: 16px;
	background-image: linear-gradient(to right, #8be9fd, #50fa7b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-weight: 100;
}