/* MAIN */
html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #F8F8F2;
    background-color: #282A36;
}
h1 {
    margin-bottom: 0;
    font-size: 48px;
    font-weight: bolder;
    background-image: linear-gradient(to right, #ff79c6, #bd93f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
h2 {
    margin-bottom: 0;
    background-image: linear-gradient(to right, #ff5555, #ffb86c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
/* LINKS */
a {
    text-decoration: none;
    background-image: linear-gradient(to right, #8be9fd, #6272a4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
a:hover {
    text-decoration: line-through;
    text-decoration-color: #ff79c6;
}
/* About */
.styled-text-sub {
    font-size: 20px;
    font-weight: bold;
    background-image: linear-gradient(to right, #ff79c6, #bd93f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
/* Contact */
.styled-text-contact {
    font-size: 20px;
    font-weight: bold;
    background-image: linear-gradient(to right, #8be9fd, #6272a4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
/* NAV LINKS */
nav {
    margin: 0;
    padding: 0;
}
.nav-menu {
    list-style: none;
    padding: 0;
}
.nav-menu li {
    display: inline-block; 
}
 /* Separator styles */
 ul.nav-menu li:not(:last-child):after {
    content: " | ";
}
